---

- hosts: all

  tasks:

    - name: Upgrate APT Package Manager repositories cache
      become: true
      apt:
        update_cache: yes

    - name: Install aptitude
      become: true
      apt:
        name: aptitude

    - name: Install low-level utilities
      become: true
      apt:
        name: "{{ item }}"
      with_items:
        - zip
        - unzip

    - name: Upgrade installed packages
      become: true
      apt:
        upgrade: safe

    - name: Install Apache web Server
      become: true
      apt:
        name: apache2
        update_cache: yes
        state: latest

    - name: ADD PHP 7 PPA repository
      become: true
      apt_repository:
        repo: 'ppa:ondrej/php'

    - name: Install PHP packages
      become: true
      apt:
        name: "{{ item }}"
        state: latest
      with_items:
        - php7.2-cli
        - php7.2-curl
        - php7.2-intl
        - php7.2-mysql
        - php7.2-json
        - php7.2-mbstring

    - name: Download Composer
      script: scripts/install_composer.sh

    - name: Move Composer globally
      become: true
      command: "mv composer.phar /usr/local/bin/composer"

    - name: Set Permission on Composer
      become: true
      file:
        path: /usr/local/bin/composer
        mode: "a+x"